body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #b2dbef;
}

.container-main-reservation {
    width: 100%;
    height: auto;
    margin: auto;
}

.input-div {
    padding-top: 5px;
    width: 100%;
    height: 55px;
}

/*
input[type=date] {
    width: 70%;
    border: 1px solid #32496f;
    border-radius: 3px;
    height: 70%;
    cursor: pointer;
    color: #32496f;
    text-align: center;
    margin-top: 8px;
}
*/

input[type=text] {
    box-sizing: border-box;
    width: 70%;
    padding: 8px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 2px solid white;
    resize: both;
    margin: 8px 0px 0px 0px;
    border: 1px solid #32496f;
    color: #32496f;
    font-weight: bold;
    font-family: cursive;
    font-size: 1.2vw;

}

/*
input[type=text]:hover {}
*/

input[type=submit] {

    border: none;
    text-align: center;
    width: 100%;
    height: 50px;
    margin-top: 12px;
    font-family: sans-serif;
    cursor: pointer;
    color: white;
    border: 1px solid #32496f;
    background-color: #32496f;
    font-size: 1.5vw;
    border-radius: 0 0 5px 5px;
}

.text-heading {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #32496f;
    padding: 0px;
    padding-left: 10px;
    margin-bottom: -12px;
}

.menu-main-heading {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 50%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}

.menu-title {
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: cursive;
    font-size: 5vw;
    letter-spacing: .01vw;
}

.parent {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 20%;
}

.child {
    width: 100%;
    min-height: 700px;
    background-color: rgba(208, 222, 245);
    box-shadow: 0px 12px 12px 4px rgba(0, 0, 0, 0.2);
}

.text-container-div {
    width: 60%;
    height: auto;
    margin-top: 50px;
    float: left;
    max-height: 400px;

}

/*

select {
    margin-top: 8px;
    width: 70%;
    border: 1px solid #32496f;
    border-radius: 4px;
    height: 70%;
    cursor: pointer;
    color: #32496f;

}
*/

.card-main-heading {
    font-family: sans-serif;
    font-size: 4vw;
    text-align: center;
    color: #32496f;
    line-height: 1;
    padding-top: 25px;
    margin: 0;
    padding-bottom: 2;

}

.card-info {
    margin: 0;
    padding: 8;
    font-family: sans-serif;
    font-size: 1vw;
    line-height: .2;
    text-align: center;
    color: #32496f;
}

.card-last-info {
    margin: 0;
    padding: 12;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    color: #32496f;
}


.text {
    padding: 8px;
    text-align: left;
    padding-left: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #7d7f87;
}

.form-container {
    margin-left: 10%;
    width: 25%;
    margin-top: 120px;
    box-sizing: border-box;
    border: 3px solid #32496f;
    float: left;
    border-radius: 8px;
    min-height: 350px;
}

.image-div {
    width: 25%;
    height: 100%;
    float: left;
}

.table-booking-heading {
    color: #32496f;
    font-size: 1.3vw;
    text-align: center;
    padding: 0px;

}

.enter_id {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #32496f;
    font-size: 1.2vw;
    padding-left: 30x;
}
