body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #b2dbef;
    background-image: url('./../images/about.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
}

.parent {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 20%;
}

.child {
    width: 100%;
    min-height: 500px;
    background-color: rgba(208, 222, 245);
    box-shadow: 0px 12px 12px 4px rgba(0, 0, 0, 0.2);
}

.card-main-heading {
    font-family: sans-serif;
    font-size: 4vw;
    text-align: center;
    color: #32496f;
    line-height: 1;
    padding-top: 25px;
    margin: 0;
    margin-top: 120px;
    padding-bottom: 2;
}

.container {
    padding-top: 50px;
    width: 35%;
    margin: 0 auto;
}

.inputLbl {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #32496f;
    padding: 5px;
    font-size: 1.5vw;
}

input[type=email] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #32496f;
    resize: both;
    margin: 0px 0px 8px 0px;
}

input[type=email]:hover {
    box-shadow: 0 0 3px rgba(50, 73, 111, 1);
}

input[type=email]:focus {
    box-shadow: 0 0 3px rgba(50, 73, 111, 1);
}

input[type=password] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #32496f;
    resize: both;
    margin: 0px 0px 8px 0px;

}

input[type=password]:hover {
    box-shadow: 0 0 3px rgba(50, 73, 111, 1);
}

input[type=submit] {
    background-color: #32496f;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 2px solid #32496f;
    resize: both;
    margin: 0px 0px 8px 0px;
    cursor: pointer;
    font-size: 120%;
    color: white;
}

.forgot-link:hover {
    color: black;
}

input[type=text] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #32496f;
    resize: both;
    margin: 0px 0px 8px 0px;

}

input[type=text]:hover {
    box-shadow: 0 0 3px rgba(50, 73, 111, 1);
}

.menu-main-heading {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 50%;
    margin: auto;
    margin-top: 120px;
    box-sizing: border-box;
}

.menu-title {
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: cursive;
    font-size: 5vw;
    letter-spacing: .01vw;
}
